@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --base: 251 250 245;  /* rgb(251, 250, 245) */
    --edge: 231 231 235;  /* rgb(231, 231, 235) */
    --text: 39 39 42; /* rgb(39, 39, 42) */
    --subtext: 100 100 120; /* rgb(78, 78, 86) */
  }
  .dark {
    --base: 24 24 24; /* rgb(24, 24, 24) */
    --edge: 44 44 44; /* rgb(44, 44, 44) */
    --text: 246 246 249;  /* rgb(246, 246, 249) */
    --subtext: 130 130 130; /* rgb(118 118 129) */
  }
}
body{
  background-color: rgb(var(--base));
  color: rgb(var(--text));
}