@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --base: 251 250 245;
    --edge: 231 231 235;
    --text: 39 39 42;
    --subtext: 186 187 191;
  }
  .dark {
    --base: 24 24 24;
    --edge: 54 55 68;
    --text: 246 246 249;
    --subtext: 180 182 197;
  }
}
body{
  background-color: rgb(var(--base));
  color: rgb(var(--text));
}