@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: 255 115 179;
    --color-secondary: 111 114 185;
  }
  .dark{
    --color-primary: 0 0 0;
    --color-secondary: 33 0 44;
  }
}