@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 53 44% 96%; /* hsl(53, 44%, 96%) */
    --foreground: 0 0% 3.9%; /* hsl(0, 0%, 3.9%) */

    --muted: 237 19% 93%; /* hsl(237, 19%, 93%) */
    --muted-foreground: 0 0% 45.1%; /* hsl(0, 0%, 45.1%) */

    --popover: 53 44% 96%; /* hsl(53, 44%, 96%) */
    --popover-foreground: 0 0% 3.9%; /* hsl(0, 0%, 3.9%) */

    --card: 53 44% 96%; /* hsl(53, 44%, 96%) */
    --card-foreground: 0 0% 3.9%; /* hsl(0, 0%, 3.9%) */

    --border: 42 32% 86%; /* hsl(42 32% 86%) */
    --input: 42 3% 96%; 

    --primary: 0 0% 9%; /* hsl(0, 0%, 9%) */
    --primary-foreground: 0 0% 98%; /* hsl(0, 0%, 98%) */

    --secondary: 237 19% 93%; /* hsl(237, 19%, 93%) */
    --secondary-foreground: 0 0% 9%; /* hsl(0, 0%, 9%) */

    --accent: 92 24% 78%; /* hsl(92, 24%, 78%)*/
    --accent-foreground: 100 0% 9%; /* hsl(100, 0%, 9%) */

    --destructive: 0 84.2% 60.2%; /* hsl(0, 84.2%, 60.2%) */
    --destructive-foreground: 0 0% 98%; /* hsl(0, 0%, 98%) */

    --ring: 0 0% 3.9%; /* hsl(0, 0%, 3.9%) */

    --radius: 0rem;
  }

  .dark {
    --background: 0 0% 6%;
    --foreground: 41 10% 86%;
/* hsl(41deg, 31%, 86%) */
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
/* hsl(220deg, 75%, 60%) */
    --accent: 90 10% 14%; 
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --ring: 0 0% 83.1%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
